<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contacts</title>
    <style>
    body {
        background: #20425e; /* Цвет фона*/
        }
    </style>
</head>
<body>
<h1 class="display-4" style="color:Silver">Свяжитесь с нами</h1>
<form action="" method="post" class="form-floating">
    {% csrf_token %}
	<div>
        <label for="name" style="color:Silver">ФИО</label>
        <input id="name" type="text" name="name" class="form-control" required>
    </div>
    <div>
        <label for="phone_number" style="color:Silver">Тел.</label>
        <input id="phone_number" type="phone" name="phone_number" class="form-control" required>
    </div>
    <div>
        <label for="email" style="color:Silver">E-mail</label>
        <input id="email" type="email" name="email" class="form-control" required>
    </div>
    <div>
        <label for="message" style="color:Silver">Вопрос</label>
        <input id="message" type="text" name="message" class="form-control" required>
    </div>
    <button type="submit">Отправить</button>
</form>
</body>
</html>
