{% extends 'base.html' %}

{% load my_tags %}

{% block content %}
    {% for object in objects_list %}
        <div class="col">
            <div class="card shadow-sm">
                {% if object.preview %}
                    <img class="card-img-top"
                         src="{{ object.preview|mediapath }}"
                         alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    <p class="card-text">{{ object.product_name|title }}</p>
                    <p class="card-text">{{ object.description|truncatechars:100 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-body-secondary">${{ object.unit_price }}</small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}