{% extends 'catalog/base.html' %}

{% load my_tags %}
{% block content %}
    <form method="post">
        <section class="content-section">
            <h1>Removal of product {{ object.product_name }}</h1>

            <div class="alert alert-danger">
                <p>Are you sure? </p>
            </div>
            {% csrf_token %}
            <a href="{% url 'catalog:products' %}" class="btn btn-default">No, it was a rash decision.</a>
            <input type="submit" value="Yes, delete the product." class="btn btn-danger"/>

        </section>
    </form>
{% endblock %}